.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
color: white;
    flex-direction: column;
    background-color: #2c3e50;
    width: 100%;
  }
  
  .phone-number {
    font-weight: bold; /* Optionally style the phone number */
    margin: 1px 0; /* Adjust the margin between the phone number and h1 */
    color: rgb(188, 185, 185);
  }
  
  h1 {
    margin: 1px 0; 
    color: white;
  }

  .business-info {
    margin: 1px 0; 
    color: rgb(188, 185, 185);
  }
  
 .company {
  font-size: 24px;
 }

 .motto {
  font-family: 'Arvo', serif;
  font-size: 18px;
  color: white;
  font-style: italic;  /* Make the text italic */
  font-weight: bold;   /* Make the text bold */
}
